<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Lista de Convidados</title>

<link href="bootstrap/css/bootstrap.mim.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div align="left">
			<a href="/" class="btn btn-lg btn-primary">Principal</a>
		</div>
		<br></br>
		<div id="listaTodosConvidados">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>Telefone</th>
					</tr>
				</thead>
				<tr th:each="convidado : ${convidados}">
					<td><span th:text="${convidado.nome}"></span></td>
					<td><span th:text="${convidado.email}"></span></td>
					<td><span th:text="${convidado.telefone}"></span></td>
				</tr>
			</table>

		</div>

		<hr />

		<form action="salvar" method="post">
			<div class="form-group">
				<label for="nome">Nome </label> <input type="text"
					class="form-control" id="nome" name="nome" placeholder="Nome" />
			</div>
			<div class="form-group">
				<label for="nome">E-mail </label> <input type="text"
					class="form-control" id="email" name="email" placeholder="Email" />
			</div>
			<div class="form-group">
				<label for="nome">Telefone </label> <input type="text"
					class="form-control" id="telefone" name="telefone"
					placeholder="Telefone" />
			</div>
			<button type="submit" class="btn-sucess">Convidar</button>
		</form>
	</div>

	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>


</body>
</html>